* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

body {
  height: 70vh;
  width: 80vw;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
ul,
li {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  height: 7vh;
  align-items: center;
}

.start {
  font-size: larger;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.user {
  border: 2px solid;
  border: none;
  background-color: rgb(214, 238, 248);
  border-radius: 6px;
  color: rgb(50, 145, 183);
  font-weight: bold;
  width: 15vw;
  margin-left: 10vw;
}

main {
  display: flex;
}

img {
  padding-top: 15vh;
  padding-left: 2vw;
  width: 47vw;
  height: 95vh;
}
article {
  display: block;
  position: relative;
  top: 13vh;
  left: 4vw;
}

p {
  font-size: 6em;
  font-weight: bold;
  padding-left: 5vw;
}
span {
  color: rgb(24, 91, 168);
}
aside {
  font-weight: 200;
  font-size: 1em;
  color: rgba(86, 87, 88, 0.598);
  margin-top: 2vh;
  padding-left: 6vw;
}
button {
  display: block;
  position: absolute;
  top: 68vh;
  left: 17vw;
  bottom: 2vh;
  width: 49%;
  height: 9vh;
  border-radius: 10px;
  background-color: rgb(155, 36, 219);
  color: white;
  border: none;
  font-weight: bold;
}

button:hover {
  transform: rotate(-27deg) scale(1.2) skew(2deg);
  transition: transform  0.7s ease-in ;
}
